# Python virtual environment
myenv/
venv/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# Logs and databases
*.log
*.sqlite3 